@media only screen and (max-width: 834px) {
  #container {
    width: 734px;
  }
  #top-header {
    height: 398px;
  }

  #header-section {
    width: 100%;
    height: 100%;
    display: flex;
    margin-left: 0px;
    margin-right: 0px;
  }
  .header-title {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header-left-area {
    margin-top: -105px;
    height: 276px;
    width: 316px;
    border-radius: 5px;
    justify-content: space-between;
  }
  .header-left-area h2 {
    height: 150px;
    width: 289px;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    text-align: left;
  }
  .header-left-area p {
    height: 48px;
    width: 316px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-top: -25px;
  }

  button#watch-button {
    height: 48px;
    width: 161px;
    border-radius: 5px;
    padding: 12px;
    margin-top: 27px;
    font-size: 17px;
  }
  .half-header {
    width: 50%;
    display: flex;
    justify-content: end;
  }
  .header-right-area {
    position: relative;
  }
  #item-section {
    height: unset !important;
    width: 100% !important;
    background: unset !important;
  }

  .items {
    flex-direction: row;
    width: 100%;
    height: 70px;
    margin-left: -135px;
  }
  div#footer-section {
    margin-top: 1119px;
    width: 100%;
  }
  .feed-section {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    padding-top: 15px;
    margin-left: -468px;
    margin-top: -107px;
  }
  div#footer-section {
    margin-top: 1119px;
  }
  button#response-button {
    border: none;
    cursor: pointer;
    outline: none;
    background: #dd0000 !important;
    color: white !important;
    margin-top: 1529px;
    margin-left: 347px;
    width: 123px;
    height: 53px;
    border-radius: 10px;
  }
  #footer-section h1 {
    display: flex;
    width: 70px;
    margin-right: auto;
    margin-left: 348px;
  }

  hr {
    margin-right: auto;
    width: 439px;
    margin-left: 175px;
  }
  .about-us {
    width: 631px;
    margin-right: auto;
    margin-left: 161px;
  }
}
@media only screen and (max-width: 375px) {
  #container {
    width: 334px;
  }
  .feed-section {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    margin-left: -467px;
  }
  #top-header {
    height: 472px !important;
  }

  div#header-section {
    flex-direction: column;
  }

  .header-title {
    width: 100%;
    justify-content: center;
    margin-left: 10px;
  }

  .header-left-area {
    height: 178px;
    width: 258px;
    padding-top: 50px;
  }

  .header-left-area h2 {
    height: 66px;
    width: 258px;
    font-family: Poppins;
    font-size: 22px;
    font-weight: 700;
    line-height: 33px;
    text-align: center;
  }

  .header-left-area p {
    height: 30px;
    width: 258px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-top: 8px;
  }

  button#watch-button {
    height: 40px;
    width: 161px;
    margin-left: 46px;
    margin-top: -15px;
  }
  .half-header {
    width: 100%;
    justify-content: center;
  }

  .header-right-area {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header-banner {
    height: 245px;
    width: 233px;

    margin-top: 50px;
    margin-left: 53px;
  }
  div#hero-feed {
    margin-top: 50px;
  }

  div#item-section {
    flex-direction: column;
    display: flex;
    align-items: center;
    height: 185px;
    width: 210px;
    margin-left: -74px;
  }

  .items {
    flex-direction: column;
    height: 100%;
  }

  .feed-section {
    margin-top: 115px;
  }
  div#hero-feed {
    margin-top: 50px;
  }

  div#item-section {
    flex-direction: column;
    display: flex;
    align-items: center;
    height: 185px;
    width: 210px;
    margin-left: -74px;
  }

  .items {
    flex-direction: column;
    height: 100%;
  }

  .feed-section {
    margin-top: 115px;
  }

  div#footer-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 16px;
    margin-top: 1650px;
  }

  #footer-section h1 {
    margin-left: 120px;
  }

  hr {
    margin-left: -23px;
  }

  .about-us {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 129px;
  }
}
